*.gch
*.out
*.DS_Store
.vscode/
*/*/objects/
c00/ex00/megaphone
c00/ex01/Phonebook
c01/ex00/Pony
c01/ex01/ex01
c01/ex02/zombie
c01/ex03/zombie
c01/ex04/ex04
c01/ex05/ex05
c01/ex06/ex06
c01/ex07/replace
c01/ex07/hello
c02/ex00/fixed
c02/ex01/fixed
c03/ex00/FragTrap
c03/ex01/FragTrap
c03/ex02/FragTrap
c03/ex03/FragTrap
c03/ex04/FragTrap
c04/ex00/Magic
c04/ex01/exec
c04/ex02/executable
c04/ex03/executable
c05/ex00/program
c05/ex01/program
c05/ex02/program
c05/ex03/program
**_shrubbery
c06/ex00/convert
c06/ex01/program
c06/ex02/program
c07/ex00/program
c07/ex01/program
c07/ex02/program
c08/ex00/program
c08/ex01/program
c08/ex02/program
c08/ex00/executable
c08/ex01/executable
