*.gch
*.out
*.DS_Store
c00/ex00/megaphone
c02/ex00/fixed
c03/ex00/FragTrap
c02/ex01/fixed
c03/ex02/FragTrap
c03/ex03/FragTrap
c03/ex01/FragTrap
c05/ex02/program
c01/ex01/ex01
c05/ex01/program
c05/ex00/program
c00/ex01/Phonebook
c01/ex00/Pony
c01/ex03/zombie
c01/ex02/zombie
c01/ex04/ex04
c04/ex00/Magic
c04/ex02/executable
c05/ex03/program
c06/ex00/convert
c06/ex01/program
c07/ex00/program
c07/ex01/program
c07/ex02/program
